game_NSMBU_US_Latest.x
game_NSMBU_US_Latest_Cemu.x
game_NSMBU_EU_Latest.x
game_NSMBU_EU_Latest_Cemu.x
game_NSMBU_JP_Latest.x
game_NSMBU_JP_Latest_Cemu.x
project.ld
project.gpj
syms/game_phys.x
objs
.vs
.vscode
*.o
*.d
*.ti
*.elf
*.rpx
include/**config*
